@media all and (max-width: 992px){

    .promo-title{
        margin-top: 50px;
    }

    .about-title{
        font-size: 35px;
    }
    
    /* TITLE CLASS */

    .title::after{
        content: '';
        background: #7b1798;
        height: 10px;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        display: block;
        transform: translateY(12px)
    }
}

@media all and (max-width: 768px){
    
    /* TITLE CLASS */

    .title::after{
        content: '';
        background: #7b1798;
        height: 10px;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        display: block;
        transform: translateY(15px)
    }

    .about-title{
        text-align: center;
    }
    #about-us ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin-bottom: 50px;
    }
}